body{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sol {
    height: 90%;
    width: 15%;
    background-color: green;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.sol div {
    height: 20%;
    width: 80%;
    border: 1px solid red;
}
.orta {
    height: 90%;
    width: 60%;
    background-color: yellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.orta_ust , .orta_alt{
    height: 15%;
    width: 100%;
    background-color: yellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.orta_ust div{
    height: 100%;
    width: 20%;
    background-color: black;
}
 .orta_alt div{
    height: 100%;
    width: 20%;
    background-color: black;
 }
 .orta_orta {
    height: 15%;
    width: 100%;
    background-color: yellow;
    display: flex;
    justify-content: space-around;
    align-items: center;
 }
 .orta_orta div {
    height: 100%;
    width: 20%;
    background-color: blueviolet;
 }
 .sag {
    height: 90%;
    width: 15%;
    background-color: blue;
 }